<%- include('../partials/header') %>
<div class="container">
  <h2 class="text-center">Plane Info</h2>
  <div class="text-center">
    <img
      class="img-fluid"
      src="/images/<%= listing.manufacturer %>.jpeg"
      alt="<%= listing.manufacturer %> image"
      style="width: 300px"
    />
  </div>
  <div class="text-center">
    <h3><%= listing.manufacturer %> <%= listing.model %></h3>
    <h4>Seats: <%= listing.seats %></h4>
    <h4>IFR Equiped: <%= listing.ifrRating === true ? 'Yes' : 'No' %></h4>
    <h4>Owner: <%= listing.userName %></h4>
    <h4>Airport: K<%= listing.airport %></h4>
  </div>
</div>
<div class="container text-center">
  <% if (user.googleId === listing.host.googleId) { %>
  <!-- // -->
  <a
    href="/listings/<%= listing._id %>/edit"
    class="btn btn-danger"
    style="width: 50%"
    >Edit</a
  >
  <% } %>
</div>
<!-- Reviews Here -->
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Review</th>
        <th>Rating</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% listing.review.forEach((el) => { %>
      <tr>
        <td><%- el.review.replaceAll('\n', '<br />') %></td>
        <td><%= el.rating %></td>
        <td>Edit Link/Button Here</td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<% if (user) { %>
<div class="mb-4">
  <form action="/listings/<%= listing._id %>/reviews" method="POST">
    <div class="text-center">
      <textarea name="review" cols="50" rows="5"></textarea>
    </div>
    <div class="text-center mt-3">
      <label for="rating"
        >Rating
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </label>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-primary text-center" style="width: 50%">
        Add Review
      </button>
    </div>
  </form>
</div>
<% } %>

<!-- keeep EJS seperated -->
<%- include('../partials/footer') %>
