<%- include('../partials/header') %>
<div class="container">
  <h2>Plane Info</h2>
  <img
    class="text-center"
    src="/images/<%= listing.manufacturer %>.jpeg"
    alt="<%= listing.manufacturer %> image"
    style="width: 300px"
  />
  <h3><%= listing.manufacturer %><%= listing.model %></h3>
  <h4><%= listing.seats %></h4>
  <h4><%= listing.ifrRating %></h4>
  <h4><%= listing.userName %></h4>
</div>

<div>
  <h3>Be The Frist Review</h3>
  <form action="/listings/<% listing._id %>/reviews">
    <textarea name="review" cols="100" rows="10"></textarea>
    <label for="rating"
      >Rating
      <select name="rating">
        <option value="1">1</option>
        <option value="1">2</option>
        <option value="1">3</option>
        <option value="1">4</option>
        <option value="1">5</option>
      </select>
    </label>
    <button class="btn btn-primary" type="submit">Add Review</button>
  </form>
</div>

<!-- keeep EJS seperated -->
<%- include('../partials/footer') %>
