<%- include('./partials/header') %>
<div class="container-fluid" id="search">
  <!-- <h2>Find Your Dream Flight</h2>
  <form class="d-flex">
    <input
      type="text"
      class="form-control me-2"
      type="search"
      placeholder="Search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form> -->
  <h1 style="background-color: aliceblue">Community Flare</h1>
  <h3 style="background-color: aliceblue">
    Your Next Dream Flight Is Just A Click Away
  </h3>
</div>
<h3 class="text-center mt-5">Testimonials</h3>
<div class="container cards">
  <div class="card" style="width: 25vmin">
    <img
      src="<%= listings[0].review[0].userAvatar %>"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title"><%= listings[0].review[0].userName %></h5>
      <h6 class="text-center"><%= listings[0].review[0].rating %> Stars</h6>
      <p class="card-text"><%= listings[0].review[0].review %></p>
    </div>
  </div>
  <div class="card" style="width: 25vmin">
    <img
      src="<%= listings[2].review[0].userAvatar %>"
      class="card-img-top"
      alt="<%= listings[2].review[0].userName%>'s Profile Photo"
    />
    <div class="card-body">
      <h5 class="card-title"><%= listings[2].review[0].userName %></h5>
      <h6 class="text-center"><%= listings[2].review[0].rating %> Stars</h6>
      <p class="card-text"><%= listings[2].review[0].review %></p>
    </div>
  </div>
  <div class="card" style="width: 25vmin">
    <img
      src="<%= listings[4].review[0].userAvatar %>"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title"><%= listings[4].review[0].userName %></h5>
      <h6 class="text-center"><%= listings[4].review[0].rating %></h6>
      <p class="card-text"><%= listings[4].review[0].review %></p>
    </div>
  </div>
  -->
</div>

<%- include('./partials/footer') %>
